@using Internacionalization.Resources
@{
    ViewBag.Title = Shared.Contact;
}

<h2>@ViewBag.Title</h2>

<h3>@Shared.Contact_Title</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@Shared.Contact_SupportEmail</strong>&nbsp;<a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>@Shared.Contact_MarketingEmail</strong>&nbsp;<a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>